@import "../../../colorConstants.scss";

.dashboard-wrapper {
  background-color: $secondary-dark-grey;
  padding: 100px 0;
  display: flex;
  align-items: stretch;
  gap: 50px;

  .left-section {
    width: 20%;
    background-color: $primary-dark-grey;
    padding: 20px 0;
    margin-left: 50px;
    .profile-image-wrapper {
      width: 140px;
      margin: 0 auto;
      position: relative;

      .change-pic-button {
        position: absolute;
        top:80%;
        right: 0;
        background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
        color:#fff;
        border-radius: 50%;
        font-weight: bold;
        font-size: 24px;
        padding: 0px 10px;
        cursor: pointer;
      }
    }
    .name-details {
      text-align: center;
      margin: 20px 0;
      color:$primary-white;

       h3 { font-size: 20px;}
       h5 { font-size: 14px; color: #999; opacity: 0.9; margin: 5px 0;}
    }
    .profile-nav {
      margin: 50px 0;
      color: #777;
      
      p { margin: 10px 0 0 70px; cursor: pointer; transition: color 0.3s ease-in;
        &:hover {color: $primary-white;}}

      .current { color: $primary-white;}
    }
  }




  // *******************//
  //        STATS       //
  // *******************//

  .mid-section {
    width: 40%;

    .stats-component-wrapper {
      background-color: $primary-dark-grey;
      color:$primary-white;

      h2 {
        text-align: center;
        padding: 15px 0;
        font-weight: bold;
        font-size: 1.7em;
      }

      .stats {

        .stat {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}