@import '../../colorConstants.scss';

.slots-page-wrapper {
  background: url("../../assets//images/slot-items/background.jpg");

  .total-credits-wrapper {
    background-color: blue;
  }
  
  .gameboard-wrapper {
    width: 95vw;
    height: 85vh;
    padding-top:55px;
    margin: 0 auto;

    .row {
      height: 32.5%;
    }

    .image-wrapper {
      // height: 150px;
      padding: 0;
      img {
        width: 95%;
        height: 90%;
      }
    }
  }
}

@media (max-width: 800px) {
  .slots-page-wrapper {
    transform: rotate(90deg);
    // width: 100vw;
    
    .gameboard-wrapper {
      height: 80vw;
      width: 100vh;
    }
  }
}