@import '../../colorConstants.scss';

.slots-page-wrapper {
  background: url("../../assets//images/slot-items/background.jpg");
  
  .gameboard-wrapper {
    width: 95vw;
    height: 85vh;
    padding-top:55px;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .image-wrapper {
      // width:1000px;
      // height: 150px;
      img {
        width: 90%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .slots-page-wrapper {
    transform: rotate(90deg);
    // width: 100vw;
    
    .gameboard-wrapper {
      height: 80vw;
      width: 100vh;
    }
  }
}