//-------Color Constants------//

$third-red: #b70415;
$primary-grey: #939393;
$primary-green: #309f50;
$primary-white: #ffffff;
$primary-black: #0f0c03;
$primary-dark-grey: #3a3939;
$secondary-red: #dd0301;
$primary-light-red: #ca4953;
$primary-muddy-brown: #2a220d;
$secondary-muddy-brown: #373014;
$primary-red: #e90015;
$secondary-green: #00a056;
$secondary-light-grey: #c8c7c5;
$primary-brown: #773e23;
$primary-electric-green: #87a436;
$primary-light-grey: #ebebeb;
$secondary-dark-grey: #212121;
$blue-ish-purple: #d8d6f3;