@import "../../colorConstants.scss";

.game-wrapper {
text-align: center;
  a {
    text-align: center;
    position: absolute;
    top:75%;
    left: 35%;
  }
  button {
    margin: 10px 0;
    width: 100px;
    background-color: #19b14e;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.game-thumbnail-wrapper {
  width: 330px;
  height: 300px;
  position: relative;
  transition: background-color 0.3s ease;
  
  img{
    width: 100%;
    height: 100%;
  }
    // &:hover {
    //   ::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: $primary-dark-grey;
    //     z-index: 1;
    //     opacity: 0.8;
    //   }
    // }
}
