@import "../../colorConstants.scss";

.goback-btn {
    display: inline-block;
    text-decoration: none;
    width:110px;
    height: 30px;
    position: absolute;
    right: 0%;
    top:105%;
    z-index: 50;
  }
  
  .goBackButtonWrapper {
  
  }
  
  .icon {
    /* display: inline-block; */
    width: 30px;
    height: 100%;
    float: right;
    transition: width 0.3s ease;
    border-radius: 50px;
  
    background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);    
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
  }
  
  .icon svg {
    color: white;
    position: relative;
    left:7px;
    top:3px;
    transition: transform 0.3s ease-in-out;
  }
  
  .text {
    font-weight: bold;
    color: $primary-white;
    position: absolute;
    left: 10%;
    top:12%;
    transition: color 0.3s ease-in-out;
  }
  
  .goback-btn:hover .icon{
    width:100%;
  }
  .goback-btn:hover .text{
    color:#fff;
  }
  .goback-btn:hover .icon svg{
    position: relative;
    left: -10px;
    top:5px;
    /* right: 100px; */
    transform: rotate(180deg);
    display: hidden;
    /* color: purple; */
    float: right;
  }


  @media screen and (max-width: 1000px) {
    .goback-btn {
        display: none;
    }
  }