.MuiBox-root {
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  form {
    label {
      display: block;
    }
  
    input:not(:last-of-type) {
      display: block;
      margin: 0 auto;
      color:#000;
    }
    select {
      color:#000;
    }

  }
}