@import "../../colorConstants.scss";


// *******************//
//        Animations      //
// *******************//

//Ball Spin
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(800%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(800%) rotate(-360deg);
  }
}


//Roulette Wheel Spin
@keyframes spinWheel {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.2, 0.1, 0.3, 1); /* ease-in */
  }
  20% {
    transform: rotate(720deg);
    animation-timing-function: linear;
  }
  80% {
    transform: rotate(1440deg);
    animation-timing-function: cubic-bezier(0.3, 0.6, 0.9, 0.9); /* ease-out */
  }
  100% {
    transform: rotate(1800deg);
    animation-timing-function: cubic-bezier(0.1, 0.5, 1, 1); /* ease-out */
  }
}

//Result Number Showing
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
  25% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  75% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2.5) translateY(-100%);
  }
}

.result-number {
  position: absolute;
  color:#000;
  top: 43%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: fadeInOut 3s forwards;
}


.wheel-animation {
  animation: spinWheel 15s forwards;
}

.roulette-page-wrapper {
  background: url("../../assets/images/roulette/roulette-bg-1.webp") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;

  
    // *******************//
  //        Wheel      //
  // *******************//

  .roulette-wheel {
    width: 78%;
    box-sizing: border-box;

    .roulette-img-wrapper {
      position: relative;
      img {
        width: 100%;
        -webkit-box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
        -moz-box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
        box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
        border-radius: 50%;
      }
      .ball {
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
        height: 4%;
        width: 4%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 4px 3px 10px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 3px 10px 2px rgba(0,0,0,0.75);
        box-shadow: 4px 3px 10px 2px rgba(0,0,0,0.75);
        animation: spin 1.5s linear infinite;
      }
    }
  }

  
    // *******************//
  //        Table board       //
  // *******************//
  .board-and-gadgets-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

      .board {
        
        .board-top-side {
          display: flex;
          flex-direction: row;
          font-weight: bold;
          border-radius: 50px;

          -webkit-box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
          -moz-box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
          box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
          
          .board-row {
            display: block;
            box-sizing: content-box;
  
            div { color: white; text-shadow: 2px 3px 4px rgba(0, 0, 0, 1); font-size: 1.5em; transform: rotate(270deg); 
              padding: 20px; background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%); width: 50px; height: 50px; border:2px solid white; 
              display: flex; align-items: center; justify-content: center; cursor: pointer; 
              &:hover { opacity: 0.7; }
            }
  
            .black-number { background: linear-gradient(to right, #434343 0%, black 100%); }
          }
  
          .zero { display: flex; align-items: center; height: 150px;color: white; text-shadow: 2px 3px 4px rgba(0, 0, 0, 1); font-size: 2em; 
                border:2px solid white; background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%); border-radius: 40% 0 0 40%; cursor: pointer;
                
                span {width: 55px; height: 40px; transform: rotate(270deg); text-align: center;}
                &:hover {
                  background: green;
                }
              }
  
          .two-one { height: 100%; background: green; color: #fff; font-weight: bold; height: 150px; border-radius: 0 40% 40% 0; width: 55px; text-align: center;
                    display: flex; justify-content: space-evenly; flex-direction: column; border: 2px solid white; font-size: 1.8em; text-shadow: 2px 3px 4px rgba(0, 0, 0, 1);
                    div  { transform: rotate(270deg);  
                      &:not(.two-one div:last-of-type) { border-left: 3px solid white;}
                    }
                  }
        }


        .board-bottom-side {
          display: flex; justify-content: center;

          
          .bet-options { display: flex; color: #fff; font-weight: bold; border-radius: 30px;
            
            -webkit-box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 16px 0px rgba(255,255,255,1);

            .option {
              div { background: linear-gradient(90deg, rgba(10,119,13,1) 7%, rgba(43,140,46,1) 49%, rgba(7,116,10,1) 96%); border: 2px solid white; padding: 12px; 
                    display: inline; text-align: center; cursor: pointer; font-size: 1.8em; text-shadow: 2px 3px 4px rgba(0, 0, 0, 1);
              &:hover {background: linear-gradient(90deg, rgb(8, 91, 12) 7%, rgb(29, 91, 31) 49%, rgb(5, 69, 6) 96%);}

              &:first-of-type {
                display: block;
              }
              
            }
            .red { background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%); color: transparent; text-shadow: none; position: relative; transition: background 0.5s;
              &:hover { background: linear-gradient(107.2deg, rgb(101, 10, 10) 10.6%, rgb(185, 0, 0) 91.1%);
                &::after { opacity: 1;}
              }
              &::after {
                content: 'RED';
                color: red;
                position: absolute;
                left: 23%;
                top: 20%;
                font-size: 0.9em;
                opacity: 0;
                transition: opacity 0.5s, transform 0.5s;
              }
            }

            .black { background: linear-gradient(to right, #434343 0%, black 100%); color: transparent; text-shadow: none; position: relative; transition: background 0.5s;
            &:hover { background: linear-gradient(to right, #000000 0%, black 100%);
              &::after { opacity: 1;}
            }
            &::after {
              content: 'BLACK';
              color: #616161;
              position: absolute;
              left: 12%;
              top: 20%;
              font-size: 0.8em;
              opacity: 0;
              transition: opacity 0.5s, transform 0.5s;
            }
          }

            .left-border { border-radius: 0 0 0 50%;}
            .right-border { border-radius: 0 0 50% 0;}
            }
          }
        }
        
      }

  // *******************//
  //       Gadgets      //
  // *******************//
      .gadgets {
        margin-top: 50px;

        .place-bet-loader {

          h4, h5 {
            color:white;
            font-weight: bold;
            text-align: center;
            font-size: 2em;
          }
          h5 { font-size: 1.2em;}
          .loader {
            margin: 30px 0 40px 0;
          }
        }
        .bet-amount-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap:10px;

          img {
            width:60px;
            border-radius: 50%;
            cursor: pointer;
            transition: box-shadow 0.3s;
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            &:hover { 
              -webkit-box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
              -moz-box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
              box-shadow: 0px -1px 18px -2px rgba(255,255,255,1);
            }
          }

          button {
            padding: 12px 22px;
            color: $primary-white;
            font-weight: bold;
            // border: 1px solid black; 
            transition: box-shadow 0.3s;
            &:hover { 
              -webkit-box-shadow: 0px -1px 18px -2px rgb(168, 251, 60);
              -moz-box-shadow: 0px -1px 18px -2px rgb(168, 251, 60);
              box-shadow: 0px -1px 18px -2px rgb(168, 251, 60);
            }
          }
          .clear-bet-btn { background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%) ; margin-right: 20px; border-radius: 5%;
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            &:hover {
              -webkit-box-shadow: 0px -1px 18px -2px rgb(247, 0, 0);
              -moz-box-shadow: 0px -1px 18px -2px rgb(247, 0, 0);
              box-shadow: 0px -1px 18px -2px rgb(247, 0, 0);
            }
          }
          .place-bet-btn { background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%); margin-left: 20px; border-radius: 5%;
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
          }
        }
      }


      // *******************//
    //      Credits/Bet INFO      //
    // *******************//

    .credits-info {
      width: 100%;
      margin: 30px 0 30px 0;
      display: flex;
      justify-content: space-evenly;
      color:$primary-white;
      font-weight: bold;
      font-size: 1.2em;

      .red { color: red; }
      .black { color: #000; }
    }
  }
}


@media only screen and (max-width: 1300px) {
  .board-and-gadgets-wrapper {
    height: 110% !important;
    .board {
      .board-top-side {
        .board-row {
          div {
            font-size: 1.3em !important;
            width: 40px !important;
            height: 40px !important;
          }
        }
        .zero {
          height: 132px !important;
        }
        .two-one {
          height: 132px !important;
        }
      }

      .board-bottom-side {
        .bet-options {
          .option {
            div {
              font-size: 1.5em !important;
            }
          }
        }
      }
    }
  }
}