.contact-page-wrapper {
    .contact-section-wrapper {
        background: url("../../assets/images/contact-background.png") ;
        background-size: cover;
        color: #fff;

        .section-heading {
            font-size: 28px;
            font-weight: bold;
        }
    }
}