@import "../../colorConstants.scss";

.email-page-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .email-page-content {
    padding: 50px;
    position: relative;
    z-index: 2;
    color:$primary-white;

    h1 {
      font-size: 3em;
      color: $primary-white;
      text-align: center;
      font-weight: bold;
      margin: 50px 0;
    }

    .contact-window {
      background-color: rgba(18, 17, 39, 0.9);
      border-radius: 20px;
      display: flex;

      .contact-info {
        background: url("../../assets/images/contact-background.png") ;
      }
    }
  }
}