@import "../../colorConstants.scss";

.email-page-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .email-page-content {
    padding: 50px;
    position: relative;
    z-index: 2;
    color:$primary-white;

    h1 {
      font-size: 3em;
      color: $primary-white;
      text-align: center;
      font-weight: bold;
      margin: 50px 0;
    }

    .contact-window {
      background-color: rgba(18, 17, 39, 0.8);
      border-radius: 20px;
      display: flex;
      
      .contact-info {
        background: url("../../assets/images/contact-background.png") ;
        padding: 20px;
        width: 300px;
        border-radius: 20px 0 0 20px;

        h3 {
          font-size: 1.7em;
          margin: 40px 0;
        }

        .infos {
        }

        .infos > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }
      }

      .contact-form {
        width: 700px;
        padding: 30px 0;
        #contact-form {
          width: 70%;
          margin: 0 auto;
          // display: flex;
          flex-direction: row;
          // flex-wrap: wrap;

          .first-row, .second-row {
            display: flex;
            justify-content: space-around;
            gap:20px;
            margin-bottom: 20px;
          }
          label {
            display: block;
          }
          .msg-label {
            margin-left:18px;
            margin-bottom: 10px;
          }
          input {
            display: block;
            width: 200px;
            outline: none;
            background: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          }
          textarea {
            background: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
            width: 95%;
            margin-left:20px;
            margin-bottom: 10px;
            outline: none;
          }

        }
        button {
          background-color: $primary-white;
          color:$primary-black;
          float: right;
          margin: 0 40px 20px 0;
          padding: 7px 12px;
          transition: background 0.3s ease;

          &:hover {
            background-color: $secondary-light-grey;
          }
        }
      }
    }
  }
}