@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url('../../../assets/fonts/DigitalNumbers-Regular.woff') format('woff');
  }

.gadgets-bar {
  background-color: blue;

  .spin-btn {
    button {
      background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
      color:#fff;
      font-weight: bold;
      padding: 15px 40px;
      font-size: 1.5em;
      border-radius: 30px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }

  .bets-wrapper {
    box-shadow: 0px 2px 15px 4px rgba(0,0,0,0.75);
    border-radius: 20px;
    .plus, .minus {
      background-color: blue;
      font-size: 2.2em;
      border:2px solid black;
      padding: 4px 20px;
      font-weight: bold;
    }

    .plus {
      border-radius: 0 20px 20px 0;
    }
    .minus {
      border-radius: 20px 0 0 20px;
    }
    .bet-value {
      font-family: 'Digital Numbers Regular';
      font-size: 1.5em;
      color: purple;

    }
  }
}