@import "../../colorConstants.scss";

.games-page-wrapper {
  background-color: #323334;
  .games-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
  }
}