@import "../../colorConstants.scss";

.main-page-wrapper {
  background: "../../../src/assets/images/main-background.htm";
  .games-section {

    .games-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap:50px;
    }
  }
}