@import '../../../../colorConstants.scss';

.introduction-section-wrapper {
  background-color: $primary-black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  padding: 120px 0;
  width: 100%;
  margin: 0 auto;

  .image-wrapper {
    width: 500px;

    img {
      width: 100%;
    }
  }

  .text-wrapper {
    color: $primary-white;
    width: 500px;

    h3 {
      font-size: 2.5em;
      margin-bottom:60px;
    }

    p {
      color:$primary-grey;
    }
  }

}
@media screen and (max-width:1000px) {
  .introduction-section-wrapper {
    flex-direction: column !important;

    .text-wrapper {
      width: 200px !important;
    }
  }
}